<h1>LOGIN PAGE</h1>
 

 

<form method="POST" action="/auth/login">
	<div class="form-group">
		<label>Email</label>
		<input type ="email" name="email" class= "form-control" placeholder="Email goes here">
	</div>
	<div class="form-group">
		<label>Password</label>
		<input type ="password" name="password" class= "form-control" placeholder="Password goes here">
	</div>
	<input type="submit" value="Log me in!" class="btn btn-success">
</form>


<!-- <div id="container">
  <div class="row">
    <form method="POST" action="/auth/login" class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate">
          <label for="password">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate">
          <label for="email">Password</label>
        </div>
      </div>
      <a href="/auth/signup" class="waves-effect waves-light btn ">Log me in!
      </a>
    </form>
  </div>

</div> -->
