<!-- Dropdown Structure -->
<style>    
nav ul li a{
color: #f2c673;
font-family: 'Poiret One', cursive;
font-weight: bold;
font-size: 20px;
} 

.hamburger {
  color: black!important;
}
</style>
</head>

<body>
  <div class="navbar-fixed">
    <nav class="white black-text">
      <div class="container nav-container">
        <div class="nav-wrapper">
          <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons hamburger">menu</i></a>
      <ul class="right hide-on-med-and-down">
            <li><a href="/">Home</i></a></li>
            <% if(!currentUser) {%>
              <li><a href="/auth/login">Login</i></a>
              </li>
              
          <%} else {%>
              <li><a href="/auth/logout">Log out</i></a></li>
              <li><a href="/profile">Profile</i></a>
              </li>
          <% } %>
          </ul>
      </div>
    </nav>
  </div>

<ul class="side-nav" id="mobile-demo">
  <li><a href="/">Home</i></a></li>
  <% if(!currentUser) {%>
    <li><a href="/auth/login">Login</i></a>
    </li>
    <li><a href="/auth/signup">Get Started</i></a></li>
<%} else {%>
    <li><a href="/auth/logout">Log out</i></a></li>
    <li><a href="/profile">Profile</i></a>
    </li>
<% } %>
</ul>

<!-- <script>
  const sideNav= document.querySelector('.sidenav');
  M.Sidenav.init(sideNav, {});
</script> -->
</body>

