<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Food Posts</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/styles.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
  

</head>
<body>
  <div>
    <form method="POST" action='/post' id= "newAlbum">
      <label for ="Food Description">Description</label>
      <input type ="text" name="Description" placeholder="Food Description">
      <label for ="Food Quantity">Food Quantity</label>
      <input type ="text" name="Quanity" placeholder="Enter Quanity">
  </div>

<button type="submit" class="btn btn-primary">Add Food Item<button>
<div id="foodDiv"></div>
</form>
<script src="/scripts/app.js"></script>
</body>
</html>