<!-- //include scripts, bootstrap, html
 -->
<!DOCTYPE html>
<html>
<head>
	<title>Project Two</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="./style/style.css">
</head>
<body>
	<div class ="container">
		<% include partials/alert %>
		<%- body %>
		<hr>
		<div class="row">
			<div class= "col-12">
				<a href="/" class="btn btn-info">Home</a>
				<% if(!currentUser) {%>
				<a href="/auth/login" class="btn btn-primary">Login</a>
				<a href="/auth/signup" class="btn btn-success">Get Started	</a>
			<%} else {%>
				<a href="/auth/logout" class="btn btn-warning"><%=currentUser.name%>, do you want to log out?</a>
				<a href="/profile" class="btn btn-danger">Profile</a>
			<% } %>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="./scripts/foodBank.js"></script>
	<script type="text/javascript" src="./scripts/app.js"></script>
	<!-- <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAY9bd197w-iJYqHbIF0A42Q4KT9aPbGyc&libraries=places&callback=initAutocomplete">
    </script> -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBTdg2JcvCdt11rkay2_CibugtXWy31tJg&libraries=places&callback=initAutocomplete"></script>

    
</body>
</html>