<style>
h1 {
text-align: center;
font-family: 'Poiret One', cursive;
color: #418fde;
text-shadow: 2px 2px #418fde;
}

</style>
<h1>Food Banks in WA</h1>
<input id="pac-input" class="controls" type="text" placeholder="Enter city here">
<div class= "container" id="map"></div>
  
  

     
