<style>
h2 {
text-align: center;
font-family: 'Poiret One', cursive;
color: #418fde;
text-shadow: 2px 2px #418fde;
}
.form-check-label {
	font-family: 'Raleway', cursive;
	font-size: 50px;
	align-items: center;
}
</style>

<h2> Log donation entries here</h2>

<div class= "container">
<div class="form-check form-check-inline">
	<form method= "POST" action="/post" id="add-food-posts">

	  <input id= "rice-and-pasta" class="form-check-input" type="checkbox" name="Rice and Pasta" value="Rice and Pasta">
	  <label class="form-check-label" for="rice-and-pasta">Rice and Pasta</label>

	  <input id="canned-vegetables" class="form-check-input" type="checkbox" name="Canned Vegetables" value="Canned Vegetables">
	  <label class="form-check-label" for="canned-vegetables">Canned Vegetables</label>

	  <input id="canned-fruits" class="form-check-input" type="checkbox" name="Canned fruits" value="Canned fruits">
	  <label class="form-check-label" for="canned-fruits">Canned fruits</label>

	  <input id="rolled oats" class="form-check-input" type="checkbox" name="Rolled oats" value="Rolled oats">
	  <label class="form-check-label" for="rolled oats">Rolled oats</label>

	  <input id="nuts" class="form-check-input" type="checkbox" name="Peanut butter or other nut butters" value="Peanut butter or other nut butters">
	  <label class="form-check-label" for="nuts">Peanut butter or other nut butters</label>

	  <input id="canned stews" class="form-check-input" type="checkbox" name="Canned stews" value="Canned stews">
	  <label class="form-check-label" for="canned stews">Canned stews</label>

	  <input id="cold-cereal" class="form-check-input" type="checkbox" name="Cold cereal" value="Cold cereal">
	  <label class="form-check-label" for="cold-cereal">Cold cereal</label>

	  <input id="glutent-free-foods" class="form-check-input" type="checkbox" name="Gluten-free foods" value="Gluten-free foods">
	  <label class="form-check-label" for="glutent-free-foods">Gluten-free foods</label>

	  <input id="canned-soups" class="form-check-input" type="checkbox" name="Canned soups" value="Canned soups">
	  <label class="form-check-label" for="canned-soups">Canned soups</label>

	  <input id="canned chicken" class="form-check-input" type="checkbox" name="Canned chicken" value="Canned chicken">
	  <label class="form-check-label" for="canned chicken">Canned chicken</label>

	  <input type ="text" name="postItems" placeholder="Add additional items here">
    	<button type="submit" class="btn btn-primary">Add Food Item</button>
	</form>
</div>
</div>