<!-- <h1>PROFILE PAGE!</h1>
 --><h2> Hello, Welcome back <%= currentUser.name %>!</h2>


<!--  <form method="POST" action="/post" id="add-food-posts">
    <p>
      <label>
        <input type="checkbox" class="form-check-input" name="Rice and Pasta" value="Rice and Pasta"/>

        <span>Rice and Pasta</span>
      </label>
    </p>

  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">mode_edit</i>
          <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
          <label name="postItems" for="icon_prefix2">First Name</label>
        </div>
      </div>
    </form>
  </div>
    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button> -->

<div class="form-check form-check-inline">
	<form method= "POST" action="/post" id="add-food-posts">

	  <input class="form-check-input" type="checkbox" name="Rice and Pasta" value="Rice and Pasta">
	  <label class="form-check-label" for="rice and pasta">Rice and Pasta</label>

	  <input class="form-check-input" type="checkbox" name="Canned Vegetables" value="Canned Vegetables">
	  <label class="form-check-label" for="canned vegetables">Canned Vegetables</label>

	  <input class="form-check-input" type="checkbox" name="Canned fruits" value="Canned fruits">
	  <label class="form-check-label" for="canned fruits">Canned fruits</label>

	  <input class="form-check-input" type="checkbox" name="Rolled oats" value="Rolled oats">
	  <label class="form-check-label" for="rolled oats">Rolled oats</label>

	  <input class="form-check-input" type="checkbox" name="Peanut butter or other nut butters" value="Peanut butter or other nut butters">
	  <label class="form-check-label" for="nuts">Peanut butter or other nut butters</label>

	  <input class="form-check-input" type="checkbox" name="Canned stews" value="Canned stews">
	  <label class="form-check-label" for="canned stews">Canned stews</label>

	  <input class="form-check-input" type="checkbox" name="Cold cereal" value="Cold cereal">
	  <label class="form-check-label" for="cold cereal">Cold cereal</label>

	  <input class="form-check-input" type="checkbox" name="Gluten-free foods" value="Gluten-free foods">
	  <label class="form-check-label" for="glutent-free foods">Gluten-free foods</label>

	  <input class="form-check-input" type="checkbox" name="Canned soups" value="Canned soups">
	  <label class="form-check-label" for="canned soups">Canned soups</label>

	  <input class="form-check-input" type="checkbox" name="Canned chicken" value="Canned chicken">
	  <label class="form-check-label" for="canned chicken">Canned chicken</label>

	  <input type ="text" name="postItems" placeholder="Add additional items here">
    	<button type="submit" class="btn btn-primary">Add Food Item<button>
	</form>
</div>

<div id="foodDiv"></div>